<h3>Thank  you for submitting your request to reset your password</h3>

<p>If the email entered is registered you should receive an email within the next few minutes. Remeber to check your spam folder.</p>

<a href="/log_in">Return to log in page</a>
<a href="/">Return to homepage</a>
