<form class="log-in-form" action="/go" method="post">

  <label for="email">Email: </label>
  <input type="text" name="email" value="">

  <label for="password">Password</label>
  <input type="password" name="password" value="">

  <input type="submit" name="" value="Log In">
</form>
