<form class="log-in-form" action="/conf" method="post">

  <label for="email">Email: </label>
  <input type="text" name="email" value="" required>

  <input type="submit" name="" value="Request Reset">
</form>
