<h1>Contact Us</h1>

<h3>Have a query, comment, or question - let us know!</h3>
<p>In cases of issues with the app we aim to get back in touch within 2 working days</p>

<form class="form" action="http://www.musicstoreapp.com/help" method="post">
  <input type="text" name="owner" value="">
  <input type="text" name="" value="">
  <input type="text-area" name="" value="">
  <input type="submit" name="" value="Submit">
</form>
